//////////////////////////////
// Coverflow styles
//////////////////////////////
$slideWidthMobile: 290px;
$slideHeightMobile: 200px;
$nonfocusSpacingMobile: 60px;

$slideWidthTablet: 500px;
$slideHeightTablet: 330px;

$slideWidthDesktop: 680px;
$slideHeightDesktop: 330px;
$nonfocusSpacingDesktop: 120px;

$transitionSpeed: 350ms;
$transitionEasing: cubic-bezier(0.215, 0.610, 0.355, 1.000);
/* easeOutCubic */

$maxNonfocusOpacity: 0.5;
$maxNonfocusScale: 0.6;
$minNonfocusScale: 0.2;
$numNonfocusVisible: 3;

$maxImages: 15;
$lightBlue: #00aeff;
$lightGray: #f0f0f0;
$darkBlue: #0a2245;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Main Styles
.coverflow {
	margin-top: 20px;
	position: relative;
	height: $slideHeightMobile;
	overflow: hidden;
	@media (min-width: $screen-sm) {
		height: $slideHeightTablet;
	}
	@media (min-width: $screen-md) {
		height: $slideHeightDesktop;
	}

	&__slide {
		user-select: none;
		width: $slideWidthMobile;
		height: $slideHeightMobile;
		transition: transform $transitionSpeed $transitionEasing, opacity $transitionSpeed $transitionEasing;
		@media (min-width: $screen-sm) {
			width: $slideWidthTablet;
			height: $slideHeightTablet;
		}
		@media (min-width: $screen-md) {
			width: $slideWidthDesktop;
			height: $slideHeightDesktop;
		}

		&[data-coverflow-index] {
			position: absolute;
			left: 50%;
			transform-origin: 50% 50%;
		}

		* {
			pointer-events: none;
		}
	}

	&__caption {
		font-size: 14px;
		position: absolute;
		bottom: 0;
		left: 0;
		background: rgba(20, 40, 75, 0.7);
		color: #fff;
		text-align: center;
		padding: 20px 20px 25px;
		@media (min-width: $screen-sm) {
			padding: 20px 40px 25px;
			font-size: 16px;
		}
		@media (min-width: $screen-md) {
			padding: 20px 80px 25px;
		}
	}

	@for $x from 1 through $maxImages {
		&[data-coverflow-position="#{$x}"] {
			@for $y from 1 through $maxImages {
				@if ($y < $x) {
					// left
					$dist: $x - $y;

					.coverflow__slide[data-coverflow-index="#{$y}"] {
						cursor: pointer;
						z-index: $maxImages - $dist;
						$scale: abs(((($maxNonfocusScale - $minNonfocusScale) / ($numNonfocusVisible - 1)) * ($numNonfocusVisible - ($dist - 1))) + $minNonfocusScale);
						opacity: ($maxNonfocusOpacity / $numNonfocusVisible) * ($numNonfocusVisible - ($dist - 1));
						$translateX: (-1 * $nonfocusSpacingMobile * ($dist - 1)) - ($slideWidthMobile / 2) - $nonfocusSpacingMobile;
						$translateXTablet: (-1 * $nonfocusSpacingDesktop * ($dist - 1)) - ($slideWidthTablet / 2) - $nonfocusSpacingDesktop;
						$translateXDesktop: (-1 * $nonfocusSpacingDesktop * ($dist - 1)) - ($slideWidthDesktop / 2) - $nonfocusSpacingDesktop;
						transform: translateX($translateX) scale($scale);
						@media (min-width: $screen-sm) {
							transform: translateX($translateXTablet) scale($scale);
						}
						@media (min-width: $screen-md) {
							transform: translateX($translateXDesktop) scale($scale);
						}
					}
				}

				@if ($y==$x) {
					// center (focus)
					.coverflow__slide[data-coverflow-index="#{$y}"] {
						cursor: default;
						z-index: $maxImages;
						transform: translateX(-50%);
					}
				}

				@if ($y > $x) {
					// right
					$dist: $y - $x;

					.coverflow__slide[data-coverflow-index="#{$y}"] {
						cursor: pointer;
						z-index: $maxImages - $dist;
						$scale: abs(((($maxNonfocusScale - $minNonfocusScale) / ($numNonfocusVisible - 1)) * ($numNonfocusVisible - ($dist - 1))) + $minNonfocusScale);
						opacity: ($maxNonfocusOpacity / $numNonfocusVisible) * ($numNonfocusVisible - ($dist - 1));
						$translateX: ($nonfocusSpacingMobile * ($dist - 1)) - ($slideWidthMobile / 2) + $nonfocusSpacingMobile;
						$translateXTablet: ($nonfocusSpacingDesktop * ($dist - 1)) - ($slideWidthTablet / 2) + $nonfocusSpacingDesktop;
						$translateXDesktop: ($nonfocusSpacingDesktop * ($dist - 1)) - ($slideWidthDesktop / 2) + $nonfocusSpacingDesktop;
						transform: translateX($translateX) scale($scale);
						@media (min-width: $screen-sm) {
							transform: translateX($translateXTablet) scale($scale);
						}
						@media (min-width: $screen-md) {
							transform: translateX($translateXDesktop) scale($scale);
						}
					}
				}
			}
		}
	}
}

// Arrows
.arrow-control {
	cursor: pointer;
	z-index: $maxImages + 1;
	position: absolute;
	top: 50%;
    width: 40px;
    height: 40px;
	transform-origin: 50% 50%;
	transform: translateY(-50%);
	display: none;
	@media (min-width: $screen-md) {
		display: block;
	}
}

.prev-arrow {
	@extend .arrow-control;
	left: 0%;
	background: url('../assets/img/left-arrow.svg') center center no-repeat;
	background-size: 16px 26px;
}

.next-arrow {
	@extend .arrow-control;
	right: 0%;
	background: url('../assets/img/right-arrow.svg') center center no-repeat;
	background-size: 16px 26px;
}

//////////////////////////////
// Component styles
//////////////////////////////
.faded-carousel-component {
	padding: 30px 0;
	opacity: 0;
	pointer-events: none;

	&.active {
		opacity: 1;
		pointer-events: auto;
	}

	.container {
		@media (max-width: 767px) {
			padding: 0;
		}
	}

	.faded-carousel-title {
		position: relative;
		margin: 0 0 40px;
		@media (max-width: 767px) {
			padding: 0 15px;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: -20px;
			left: 15px;
			width: 40px;
			height: 2px;
			background-color: $lightBlue;
			@media (min-width: $screen-sm) {
				left: 0;
			}
		}
	}

	.faded-carousel {
		.faded-carousel-slide-titles {
			display: none;
			@media (min-width: $screen-md) {
				display: flex;
				justify-content: space-around;
				align-items: flex-start;
				margin-top: 30px;
			}

			.faded-carousel-slide-title {
				position: relative;
				max-width: 140px;
				padding: 25px 10px 0;
				font-size: 14px;
				text-align: center;
				cursor: pointer;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background-color: $lightGray;
					transition: background-color $transitionSpeed $transitionEasing;
				}

				&.active {
					&:before {
						background-color: $lightBlue;
					}
				}
			}
		}
	}
}